<div class='flex-row'>
  <% @books.each do |book| %>
    <%= link_to book, class: 'flex-row-item' do %>
      <img class='artwork' src='<%= book.image %>' height=150 width=100>
      <p class='title'><%= book.title %></p>
    <% end %>
  <% end %>
</div>
