<% flash.each do |key, value| %>
  <%= content_tag :div, class: "alert alert-#{key}", role: "alert" do %>
    <%= value.html_safe %>
    <button class='close' type="button" data-dismiss="alert">
      <span aria-hidden="true">×</span>
      <span class='sr-only'>Close</span>
    </button>
  <% end %>
<% end %>
