<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <h1>Shit happens — <br> Be on top of it.</h1>
          <p class="subtext">Sentry gives you insight into the errors that affect your customers.</p>
          <p><a href="#" class="cta pricing-link">Get Started</a></p>
      </div>
      <div class="col-sm-8">
        <ul class="screenshots hidden-xs">
          <!-- <li><img src="https://www.getsentry.com/_static/getsentry/images/screenshots/event-detail.png" alt="Sentry Dashboard"></li> -->
          <!-- <li><img src="https://www.getsentry.com/_static/getsentry/images/screenshots/teams.png" alt="Sentry Dashboard"></li> -->
          <!-- <li><img src="https://www.getsentry.com/_static/getsentry/images/screenshots/stream.png" alt="Sentry Dashboard"></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="the-old-way">
  <div class="container">
    <h2>Stop logging exceptions the old fashioned way.</h2>

      <p><strong>Chances are that you have errors in your log files you are not aware of.</strong> Sentry surfaces these errors, helps you gauge severity and frequency, and then gives you the information necessary to fix them quickly.</p>

  </div>
</div>

<div class="benefits">
    <div class="container">
        <h3 class="centered"><span>In just a few minutes from now you’ll be able to:</span></h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="circle">
                    <span class="badge">3</span>
                    <span class="icon icon-repeat"></span>
                </div>
                <h4>See the impact of deploys in real-time</h4>
                <p>Watch Sentry as you deploy to make sure new changes don’t have an unexpected impact on your users</p>
            </div>
            <div class="col-sm-4">
                <div class="circle">
                    <span class="icon icon-heart"></span>
                </div>
                <h4>Provide next-level support to your users.</h4>
                <p>Users interrupted by an error tend to move on. Use the information that Sentry logs to bring them back.</p>
            </div>
            <div class="col-sm-4">
                <div class="circle">
                    <span class="icon icon-cross"></span>
                </div>
                <h4>Detect and thwart<br> fraud as its attempted.</h4>
                <p>Get notified of unusual amounts of failures on purchases, authentication, and other sensitive areas of your app.</p>
            </div>
        </div>
    </div>
</div>

<div class="customers">
    <div class="container">
        <h2>And you'll be in good company.</h2>
        <div class="row quotes">
            <div class="col-sm-4">
                <div class="photo">
                    <img src="https://www.getsentry.com/_static/getsentry/images/testimonials/kristjan.jpg">
                </div>
                <blockquote><p>"Using Sentry has been a simple and intuitive experience and support has been virtually instant for any questions that have come up."</p></blockquote>
                <p>
                    <cite>Kristján Valur Jónsson</cite>
                    <img class="company" src="https://www.getsentry.com/_static/getsentry/images/usedby/ccp.svg" width="60px" style="position:relative; top: -10px;">
                </p>
            </div>
            <div class="col-sm-4">
                <div class="photo">
                    <img src="https://www.getsentry.com/_static/getsentry/images/testimonials/philip.jpg">
                </div>
                <blockquote><p>"Sentry provides us with a real time view of system health and, almost more importantly, the impacts of new deploys as <br>they happen."</p></blockquote>
                <p>
                    <cite>Philip Forget</cite>
                    <img class="company" src="https://www.getsentry.com/_static/getsentry/images/usedby/readability.svg" width="120px">
                </p>
            </div>
            <div class="col-sm-4">
                <div class="photo">
                    <img src="https://www.getsentry.com/_static/getsentry/images/testimonials/mike.jpg">
                </div>
                <blockquote><p>"Sentry helps us prioritize the most important issues impacting user experience."</p></blockquote>
                <p>
                    <cite>Mike Clarke</cite>
                    <img class="company" src="https://www.getsentry.com/_static/getsentry/images/usedby/standardtreasury.svg" width="110px" style="position: relative; top: -5px;">
                </p>
            </div>
        </div>
    </div>
</div>
