<div id="hero-wrapper">
    <div id="hero" class="row">
        <div class="large-12 columns">
            <h1>A simple and concise textbook exchange for Oregon State University students.</h1>
            <div id="download">
                <a id="hero-cta-button" href="/listings" class="large rounded radius button">
                    <div>Browse Listings</div>
                </a>
                <!-- Yikes! -->
                <br><br><br><br>
            </div>
        </div>
    </div>
</div>

<div id="sub-hero-wrapper">
    <div class="intro row">
        <div class="large-12 columns">
            <p>Paperbacks is a tool built out of frustration with the current state of the textbook market. By building this tool, we hope to empower students to make sustainable transactions between each other, rather than be robbed by cheap buy-back programs.</p>
        </div>
    </div>


    <div class="sub-intro row">
        <div class="large-6 columns">
            <h2><%= icon('search') %> Search By Textbook</h2>
            <p>Search by either title or ISBN to quickly find the books you're after. You can also filter by price, quality and date.</p>
        </div>

        <div class="large-6 columns">
            <h2><%= icon('clock-o') %> Auto-Expiring Listings</h2>
            <p>Sick of contacting someone only to find out that they already sold their item? As soon as a buyer has been contacted, their listing expires in 48 hours unless they explicitly renew.</p>
        </div>

        <div class="large-12 columns">
            <h2><%= icon('calendar') %> What's On Our Horizon?</h2>
            <p>While Paperbacks is just getting starting, there's a lot of fun stuff in the pipeline.<br>Check out what we have planned at <a href="https://waffle.io/jonahgeorge/paperbacks">waffle.io</a>.</p>
        </div>
    </div>

    <br><br>
</div>
