@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 960px !important;
}

.content {
    min-height: 250px;
    padding-bottom: 40px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0 0 20px;
}

h1 {
    margin-bottom: 30px;
}

ul {
    padding-left: 30px;
}

@import "header";

.sidebar {
    font-size: 14px;
}

#docs li,
.signup li,
.register li,
.signin li {
    padding: 2px 0;
    margin: 0 0 3px;
}

#docs li.active,
.signup li.active,
.register li.active,
.signin li.active {
    position: relative;
}

#docs li.active a,
.signup li.active a,
.register li.active a,
.signin li.active a {
    color: #444;
}

#docs li.active:before,
.signup li.active:before,
.register li.active:before,
.signin li.active:before {
    position: absolute;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.03);
    top: -1px;
    left: -10px;
    bottom: -1px;
    right: 30px;
    border-radius: 5px;
}

#docs li a,
.signup li a,
.register li a,
.signin li a {
    color: #999;
    font-size: 95%;
}

#docs h1,
.signup h1,
.register h1,
.signin h1 {
    font-size: 26px;
    margin: 0 0 20px;
}

#docs .page-header,
.signup .page-header,
.register .page-header,
.signin .page-header {
    margin-top: 0;
}

#docs .page-header h2,
.signup .page-header h2,
.register .page-header h2,
.signin .page-header h2 {
    margin-top: 0;
    font-size: 22px;
}

#docs p,
.signup p,
.register p,
.signin p {
    margin: 0 0 20px;
}

.call-out {
    border-top: 2px solid rgba(0, 0, 0, 0.03);
    padding: 40px 0;
}

.call-out h4 {
    font-size: 32px;
    margin-bottom: 25px;
}

.call-out .cta {
    color: #333;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 600;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 5px 22px;
    text-decoration: none;
}

.hero {
    padding: 40px 0 110px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.03);
    text-align: center;
    margin-bottom: 70px;
    color: #333;
    color: rgba(0, 0, 0, 0.8);
}

.hero h2 {
    margin: 30px 0 50px;
    line-height: 1.2;
}

.hero .platformicon {
    font-size: 120px;
}

.hero .container {
    position: relative;
}

.hero .cta {
    color: #333;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 600;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 8px 22px;
    text-decoration: none;
}

.tour {
    padding: 150px 15px 70px;
}

.javascript .hero {
    background: #f8dc3c;
}

.javascript .platformicon {
    font-size: 110px;
}

.python .hero {
    background: #f1f9ff;
    color: rgba(0, 0, 0, 0.7);
}

.python .platformicon {
    font-size: 102px;
}

.python .cta {
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.6);
}

.php .hero {
    background: #5f81ba;
    color: #fff;
}

.php .hero .cta {
    color: #fff;
    border-color: #fff;
}

.php h2 {
    margin-top: 15px;
}

.ruby .hero {
    background: #d91304;
    color: #fff;
}

.ruby .hero .cta {
    color: #fff;
    border-color: #fff;
}

.ruby h2 {
    margin-top: 15px;
}

@font-face {
    font-family: 'getsentry';
    src: url('../fonts/getsentry.eot?817zd7');
    src: url('../fonts/getsentry.eot?#iefix817zd7') format('embedded-opentype'), url('../fonts/getsentry.woff?817zd7') format('woff'), url('../fonts/getsentry.ttf?817zd7') format('truetype'), url('../fonts/getsentry.svg?817zd7#getsentry') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'getsentry';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-mark:before {
    content: "\e600";
}

.icon-logo:before {
    content: "\e601";
}

.icon-heart:before {
    content: "\e024";
}

.icon-repeat:before {
    content: "\e058";
}

.icon-ban:before {
    content: "\e107";
}

.icon-check:before {
    content: "\e116";
}

.icon-cross:before {
    content: "\e117";
}

.icon-help:before {
    content: "\e127";
}

.icon-rss:before {
    content: "\e602";
}

.icon-arrow-left:before {
    content: "\e603";
}

.icon-arrow-right:before {
    content: "\e604";
}

fieldset h4 {
    margin: 30px 0;
}

.form-group {
    margin: 0 0 15px !important;
}

.form-group label {
    font-size: 85%;
    font-weight: 500;
}

.form-group input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-group.expiration,
.form-group.cvc {
    float: left;
    margin-right: 30px !important;
}

.form-group.expiration input {
    display: inline;
}

.form-group.error input {
    border-color: #FA2F2F;
}

.form-group .help-block {
    color: #999;
    font-size: 85%;
}

.form-actions {
    border-top: 1px solid #eee;
    padding: 30px 0 50px;
    margin-top: 20px;
}

fieldset {
    clear: both;
}

.signin h2,
.register h2 {
    margin: 10px 0 30px;
}

.btn-primary {
    font-weight: 500;
    color: #fff;
    background: #49a9e6;
    border-radius: 4px;
    border: 0;
}

a:hover {
    text-decoration: none;
}

a:active {
    position: relative;
    top: 3px;
}

.align-right {
    text-align: right;
}

strong {
    font-weight: 600;
}

h3.centered {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 0 20px 80px;
}

h3.centered span {
    background: #fff;
    padding: 0 12px;
}

h3.centered span:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
    height: 3px;
    background: #F3F3F3;
    z-index: -1;
}

.intro {
    // background: #fb2d26;
    background: $purple;
    background-size: cover;
    position: relative;
    padding: 30px 0 55px;
    color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    overflow-x: hidden;
}

.intro a {
    color: #fff;
}

.intro h1 {
    letter-spacing: -0.75px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 146px;
}

.intro .subtext {
    font-size: 18px;
    margin: 0 0 30px;
    line-height: 1.5;
}

.intro .screenshots {
    padding-left: 0;
    list-style: none;
    height: 515px;
    -webkit-perspective: 800;
    -moz-perspective: 800;
    -webkit-perspective-origin: 35% 40%;
    -moz-perspective-origin: 35% 40%;
    -webkit-transform: translate3d(0, 0, 0);
    position: relative;
    left: -20px;
}

.intro .screenshots img {
    width: 520px;
    height: 480px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 3px;
}

.intro .screenshots li {
    position: absolute;
    -webkit-transition: 0.5s ease-in-out all;
    -moz-transition: 0.5s ease-in-out all;
    left: 100px;
}

.intro .screenshots li img {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transform: rotateY(-22deg) scale(0.8, 0.8);
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 0.5s;
    -moz-transform: rotateY(-22deg) scale(0.8, 0.8);
}

.intro .screenshots li:first-child {
    left: 200px;
}

.intro .screenshots li:first-child img {
    -webkit-transform: rotateY(-18deg) scale(0.7, 0.7);
    -moz-transform: rotateY(-18deg) scale(0.7, 0.7);
}

.intro .screenshots li:last-child {
    left: -10px;
}

.intro .screenshots li:last-child img {
    -webkit-transform: rotateY(-30deg) scale(0.9, 0.9);
    -moz-transform: rotateY(-30deg) scale(0.9, 0.9);
}

.intro .screenshots li.blow-up {
    left: -50px;
}

.intro .screenshots li.blow-up img {
    -webkit-transform: rotateY(-45deg) scale(1.1, 0.1 0.1);
    -moz-transform: rotateY(-45deg) scale(1.1, 0.1 0.1);
}

.intro .cta {
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 8px 22px;
    text-decoration: none;
    display: inline-block;
}

.the-old-way {
    padding: 60px 0;
}

.the-old-way .container {
    padding: 0 80px;
}

.the-old-way h2 {
    text-align: center;
    margin: 0 0 50px;
    letter-spacing: -1px;
}

.the-old-way .console {
    margin: 0 40px 50px;
}

.the-old-way strong {
    display: block;
}

.the-old-way p {
    font-size: 20px;
}

.console {
    margin: 0 0 20px;
}

.console .toolbar {
    height: 40px;
    background: #d7dadd;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.console .toolbar .circle-wrap {
    position: absolute;
    top: 14px;
    left: 15px;
}

.console .toolbar .circle-wrap .circles {
    background: #fdb916;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: 0 18px;
}

.console .toolbar .circle-wrap .circles:before {
    content: "";
    background: #e9254e;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
    left: 0;
}

.console .toolbar .circle-wrap .circles:after {
    content: "";
    background: #49cc16;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
    left: 36px;
}

.console .prompt {
    height: 220px;
    font-family: Menlo, monospace;
    padding: 15px;
    font-size: 12px;
    color: #c1c5c7;
    background: #393e40;
    border-radius: 0 0 5px 5px;
    position: relative;
    overflow: hidden;
}

.console .prompt strong {
    color: #fff;
    font-weight: normal;
    display: inline;
}

.console .prompt .tabbed {
    margin-left: 30px;
}

.console .prompt .timestamp {
    color: #7b7e80;
}

.console .prompt .messages {
    position: absolute;
    bottom: 12px;
}

.console .prompt .no {
    text-align: center;
    color: #fb2d26;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 200px;
    font-size: 100px;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}

.benefits {
    padding-bottom: 90px;
}

.benefits .circle {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border: 2px solid #F3F3F3;
    border-radius: 130px;
    margin-bottom: 40px;
    position: relative;
}

.benefits .circle .icon {
    display: block;
    font-size: 40px;
    width: 40px;
    margin: 0 auto;
    line-height: 128px;
}

.benefits .circle .badge {
    width: 36px;
    height: 36px;
    background: #fb2d26;
    border-radius: 36px;
    text-align: center;
    line-height: 34px;
    position: absolute;
    right: 0;
    font-size: 18px;
    font-weight: 500;
}

.benefits h4 {
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
}

.benefits p {
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
}

.customers {
    background: #fafafa url(../images/testimonials/rdio-office.png);
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
    padding: 120px 0;
    text-align: center;
}

.customers h2 {
    position: relative;
    top: -50px;
}

.customers .photo {
    width: 90px;
    height: 90px;
    margin: 0 auto 50px;
    position: relative;
}

.customers .photo img {
    z-index: 1;
    width: 90px;
    border-radius: 200px;
}

.customers blockquote {
    border: none;
    padding: 0;
    font-size: 20px;
    min-height: 160px;
}

.customers cite {
    font-weight: 600;
    display: block;
}

.customers .quotes .company {
    opacity: .7;
    margin-top: 18px;
}

.customers .customer-logos {
    border-top: 3px solid rgba(0, 0, 0, 0.05);
    margin-top: 60px;
    padding-top: 40px;
}

.customers .customer-logos .row {
    margin-top: 60px;
}

.customers .customer-logos img {
    opacity: .8;
    max-width: 80%;
    max-height: 36px;
    position: relative;
}

.pricing {
    padding: 80px 0;
    text-align: center;
}

.pricing h2 {
    text-align: center;
    margin-bottom: 60px;
}

.pricing .plan {
    padding: 30px;
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.pricing .plan h4 {
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    margin: 0 60px 10px;
    padding-bottom: 10px;
}

.pricing .price {
    text-align: center;
    font-size: 56px;
    letter-spacing: -2px;
    margin-bottom: 16px;
}

.pricing .price .per {
    color: rgba(0, 0, 0, 0.3);
    font-size: 22px;
}

.pricing .features li {
    padding: 4px 0;
}

.pricing .features .per-minute {
    display: block;
    color: rgba(0, 0, 0, 0.3);
}

.pricing .cta {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #49a9e6;
    padding: 7px 20px;
    border-radius: 4px;
    margin: 20px 20px 0;
}

.pricing .plan-condensed {
    margin-top: 30px;
    text-align: left;
}

.pricing .plan-condensed h4 {
    margin: 0;
    border: none;
}

.pricing .plan-condensed a {
    color: #aaa;
    text-decoration: underline;
}

.pricing .plan-condensed a:hover {
    color: #888;
}

.details {
    border-top: 3px solid #f1f2f3;
    margin-top: -30px;
    padding: 60px 0 50px;
    text-align: left;
}

.details h4 {
    text-align: center;
    margin-bottom: 20px;
}

#footer {
    background: #f2f2f2;
    padding: 100px 0;
}

#footer a {
    color: #999;
}

#footer a:hover {
    color: #666;
}

#footer ul li {
    padding: 5px 0;
}

#footer .copyright {
    color: #999;
}

#tour {
    overflow: hidden;
}

#tour .tour-item {
    position: relative;
    padding: 100px 0;
}

#tour .tour-item:first-child {
    margin-top: 0 !important;
}

#tour .tour-item h2 {
    line-height: 1.1;
}

#tour .tour-item.no-screenshot {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    padding: 60px 0 50px;
    margin-top: 40px;
}

#tour .intro-blob {
    margin-top: 40px;
    font-size: 20px;
    padding-top: 70px;
}

#tour .intro-blob h3 {
    text-align: center;
    margin: 0 0 30px;
}

#tour .intro-blob .log-file {
    width: 80%;
    margin: 0 auto;
}

#tour .intro-blob .log-file img {
    max-width: 100%;
    margin-bottom: 40px;
}

#tour .quotes {
    padding-left: 0;
    list-style: none;
}

#tour .quotes:before,
#tour .quotes:after {
    content: " ";
    display: table;
}

#tour .quotes:after {
    clear: both;
}

#tour .quotes:before,
#tour .quotes:after {
    content: " ";
    display: table;
}

#tour .quotes:after {
    clear: both;
}

#tour .quotes li {
    float: left;
    margin-right: 5px;
}

#tour .quotes li img {
    width: 32px;
    height: 32px;
    background: #fafafa;
    border-radius: 32px;
}

#tour .screenshot {
    position: absolute;
    width: 100%;
    top: -30px;
    -webkit-transition: all ease-in-out 0.6s;
    opacity: 0;
    height: 330px;
}

#tour .screenshot .frame {
    min-height: 300px;
    max-height: 330px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    padding: 10px;
    border-radius: 3px;
}

#tour .screenshot img {
    max-width: 100%;
    display: block;
}

#tour .screenshot.show {
    opacity: 1;
}

#tour .screenshot.left {
    left: -800px;
    -webkit-transform: rotate(-14deg);
}

#tour .screenshot.left.show {
    left: -30px;
    -webkit-transform: rotate(0deg);
}

#tour .screenshot.right {
    right: -800px;
    -webkit-transform: rotate(14deg);
}

#tour .screenshot.right.show {
    right: -30px;
    -webkit-transform: rotate(0deg);
}

.works-everywhere {
    padding: 80px 0;
    border-bottom: 3px solid #f1f2f3;
}

.works-everywhere h2 {
    text-align: center;
    margin-bottom: 80px;
}

.client-platform-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 30px;
    text-align: center;
}

.client-platform-list:before,
.client-platform-list:after {
    content: " ";
    display: table;
}

.client-platform-list:after {
    clear: both;
}

.client-platform-list:before,
.client-platform-list:after {
    content: " ";
    display: table;
}

.client-platform-list:after {
    clear: both;
}

.client-platform-list li {
    display: inline-block;
    margin-right: 26px;
    margin-bottom: 30px !important;
}

.client-platform-list span {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 120px;
    line-height: 120px;
    color: #fff;
}

.client-platform-list span.platformicon-generic {
    background: #929c9e;
}

.client-platform-list span.platformicon-python {
    background: #2671aa;
}

.client-platform-list span.platformicon-php {
    background: #6067a8;
}

.client-platform-list span.platformicon-ruby,
.client-platform-list span.platformicon-rails {
    background: #d71f26;
}

.client-platform-list span.platformicon-rails-3 {
    background: #e4454b;
}

.client-platform-list span.platformicon-java {
    background: #ca1d24;
}

.client-platform-list span.platformicon-js {
    color: #1b191c;
    background: #f7dc3c;
}

.client-platform-list span.platformicon-node-js {
    background: #8ac655;
    color: #2d292f;
}

.client-platform-list span.platformicon-go {
    color: #222;
    border: 2px solid #222;
}

.client-platform-list span.platformicon-django {
    background: #025129;
}

.client-platform-list span.platformicon-ios {
    background: #383a3a;
}

.client-platform-list a {
    font-size: 18px;
    text-align: center;
    display: block;
    font-weight: 500;
    color: #555555;
}

.team li {
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    padding-left: 46px;
}

.team li h4 {
    font-size: 16px;
    margin: 0 0 3px;
}

.team li p {
    line-height: 1.2;
}

.team li .avatar {
    position: absolute;
    left: 0;
}

.team li img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

/* Small screens */
@media (max-width: 767px) {
    header {
        padding: 30px 10px;
    }

    .intro {
        padding: 20px 30px 40px;
        text-align: center;
    }

    .intro h1 {
        padding-top: 0;
    }

    .the-old-way {
        border-bottom: 3px solid #f1f2f3;
        margin-bottom: 70px;
        padding-bottom: 30px;
    }

    .the-old-way .container {
        padding: 20px;
    }

    .the-old-way .console {
        margin: 0 0 50px;
    }

    .benefits {
        padding: 0 30px;
    }

    .benefits h3 {
        display: none;
    }

    .benefits .col-sm-4 {
        margin-bottom: 60px;
    }

    .customers {
        padding: 120px 20px 80px;
    }

    .customers .col-sm-4 {
        margin-bottom: 60px;
    }

    .customers blockquote {
        min-height: 0;
    }

    .client-platform-list li.push {
        margin-left: 0;
    }

    .customer-logos img {
        position: static !important;
    }

    .customer-logos .row {
        margin: 0 0 -20px !important;
    }

    .customer-logos .col-sm-3 {
        margin: 30px 0;
    }

    .pricing .plan {
        margin-bottom: 30px;
        max-width: 300px;
        margin: 0 auto 30px;
    }

    #tour .tour-item {
        padding: 30px;
    }

    #tour .tour-item .screenshot {
        float: none;
        position: static;
        height: auto;
    }

    #tour .tour-item .screenshot .frame {
        min-height: 0;
        max-height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #tour .tour-item .screenshot img {
        height: auto;
    }

    #tour .tour-item.no-screenshot {
        padding: 30px !important;
    }
}
