.flex-grid {
  padding: 0;
  margin: 0;
  display: flex;
  -webkit-flex-flow: row wrap;
}
.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
}
.flex-grid-item,
.flex-row-item {
  flex: 0 0 100px;
  margin-right: 15px;
  color: #333333;
}
.flex-row-item:last-child {
  margin-right: 0;
}

.flex-row-item:hover,
.flex-grid-item:hover {
  color: #333333;
}
.flex-row-item .artwork,
.flex-grid-item .artwork {
  margin-bottom: 5px;
}
.flex-row-item .title,
.flex-grid-item .title {
  font-size: 0.85em;
}
