.listings-wrapper {
  display: table;
  width: 100%;

  .title {
    display: table-cell;
    width: 50%;
  }

  .price {
    display: table-cell;
    width: 25%;
  }

  .seller {
    display: table-cell;
    width: 25%;
  }
}
